<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="krypt.com.krypt">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".KryptApplication"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:background="#039be5"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle"
            android:name=".Splash"
            android:label="@string/title_activity_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotPin"
            android:label="@string/title_activity_forgot_pin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Videos"
            android:label="@string/title_activity_videos"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".VideoPlayerActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_video_player" />
    </application>

</manifest>